* {padding: 0; margin: 0;}
.rootCase {
	position: relative;
	width: 100%;
	background: url("../images/page_download.png") no-repeat;
	background-size: 100%;
	-moz-background-size: 100%;
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	-webkit-touch-callout: none;
	background-color: #5fbbea;
}
.r_open, .r_open_on {
	position: absolute;
	right: 15px;
	background: url("../images/btn_open_moren.png") no-repeat;
	background-size: 100%;
	-moz-background-size: 100%;
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	-webkit-touch-callout: none;
}
.r_open_on {
	background-image: url("../images/btn_open_anxia.png");
}
.r_download, .r_download_on {
	position: absolute;
	top: 0;
	background: url("../images/btn_download_moren.png") no-repeat;
	background-size: 100%;
	-moz-background-size: 100%;
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	-webkit-touch-callout: none;
}
.r_download_on {
	background-image: url("../images/btn_download_anxia.png");
}
.maskRoot {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-touch-callout: none;
	display: none;
	z-index: 10;
}
.r_first {
	position: absolute;
	background: url("../images/img_yindao01.png") no-repeat;
	background-size: 100%;
	-moz-background-size: 100%;
	-webkit-background-size: 100%;
	-o-background-size: 100%;
}
.r_second {
	position: absolute;
	background: url("../images/img_yindao02.png") no-repeat;
	background-size: 100%;
	-moz-background-size: 100%;
	-webkit-background-size: 100%;
	-o-background-size: 100%;
}
.r_ikonw {
	position: absolute;
	background: url("../images/btn_wozhidaole.png") no-repeat;
	background-size: 100%;
	-moz-background-size: 100%;
	-webkit-background-size: 100%;
	-o-background-size: 100%;
}

.alertRoot {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-touch-callout: none;
	z-index: 20;
	display: none;
}
.alertContent {
	background: #ffffff;
	position: fixed;
	left: 50%;
	top: 50%;
}
.alertTitle, .alertTip, .alertButton, .alertTipText {
	font-family: Microsoft YaHei;
}
.alertTipText {
	white-space: normal;
	text-align: justify;
	-moz-text-align-last: center;
	text-align-last: center;
}